@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body h1 {
    font-variant: small-caps;
    text-align: center;
    margin: 10px;
}

input[type=button] {
    background-color: grey;
    color: white;
    font-size: 1em;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
}

input[type=button]:hover {
    width: 96vw;
    transition: .3s;
    cursor: pointer;
}

div#res {
    margin: 10px;
}